*{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: 200;
	font-size: 1.2em;
}
.flex-container {
	display: flex;
	height: 100vh;
	align-content: center;
	justify-content: center;
	flex-direction: row-reverse;
}
.flex-item {
	background-color: #240;
	color: #fff;
	margin: 5px;
	height: 120px;
	min-width: 120px;
	text-align: center;
}
.one {
	background: rgba(235,152,78,1.2);
	flex: 1 0 300px;
	order: 60;
}
.two {
	background: rgba(230,126,34,1.2);
	flex: 1 .5 300px;
	order: 50;
}
.three {
	background: rgba(202,111,30,1.2);
	flex: 1 1 300px;
	order: 40;
}
.four {
	background: rgba(175,96,26,1.2);
	flex: 1 2 300px;
	order: 30;
}
.five {
	background: rgba(147,81,22,1.2);
	flex: 1 3 300px;
	order: 20;
}
.six {
	background: rgba(120,66,18,1.2);
	flex: 1 4 300px;
	order: 10;
}